<div class="documents-container md-whiteframe-1dp" flex>
	<baggage-report notification="docVm.flight.notification" flight="docVm.flight"></baggage-report>

	<flight-info notification="docVm.flight.notification" flight="docVm.flight" toggle="docVm.toggleDocument('flightInfo')" toggled="docVm.flightInfo"></flight-info>

	<pax-report notification="docVm.flight.notification" flight="docVm.flight" toggle="docVm.toggleDocument('paxReport')" toggled="docVm.paxReport"></pax-report>

	<offload-report notification="docVm.flight.notification" flight="docVm.flight" toggle="docVm.toggleDocument('offloadReport')" toggled="docVm.offloadReport"></offload-report>
</div>