<div class="documents-container md-whiteframe-1dp" flex>
	<div class="baggage-report-accordion">
		<div layout="column">
			<md-button flex aria-label="toggle-baggage-report" class="md-button-toggle" ng-click="docVm.toggleDocument('baggageReport')">
				Baggage Report
				<md-icon md-font-icon="icon-chevron-up" class="md-toggle-icon" ng-class="{'toggled' : !docVm.baggageReport}"></md-icon>
			</md-button>
			<md-button flex aria-label="dialog-flight-info" class="document-edit-button" ng-if="docVm.baggageReport" ng-click="docVm.openBaggageReportDialog($event)">
				<md-icon md-font-icon="icon-pencil"></md-icon>
				Edit Baggage Report
			</md-button>
		</div>
	</div>
	<md-divider flex></md-divider>
	<div class="flight-info-accordion">
		<div layout="column">
			<md-button flex aria-label="toggle-flight-info" class="md-button-toggle" ng-click="docVm.toggleDocument( 'flightInfo')">
				FlightInfo
				<md-icon md-font-icon="icon-chevron-up " class="md-toggle-icon " ng-class="{ 'toggled' : !docVm.flightInfo} "></md-icon>
			</md-button>
			<md-button flex aria-label="dialog-flight-info" class="document-edit-button" ng-if="docVm.flightInfo " ng-click="docVm.openFlightInfoDialog($event) ">
				<md-icon md-font-icon="icon-pencil "></md-icon>
				Edit Flight Info
			</md-button>
		</div>
		<md-content ng-class="{ 'content-opened' : docVm.flightInfo} ">
			<table>
				<tr>
					<td>REGISTRATION</td>
					<td>{{docVm.flight.registration}}</td>
				</tr>
				<tr>
					<td>CONFIGURATION</td>
					<td>{{docVm.flight.configuration}}</td>
				</tr>
				<tr>
					<td>EZFW</td>
					<td>{{docVm.flight.flightInfo.ezfw}}</td>
				</tr>
				<tr>
					<td>WATER UPLIFT</td>
					<td>{{docVm.flight.flightInfo.waterUpLift}}</td>
				</tr>
				<tr>
					<td>RTOW</td>
					<td>{{docVm.flight.flightInfo.rtow}}</td>
				</tr>
				<tr>
					<td>CREW</td>
					<td>{{docVm.flight.flightInfo.crew}}</td>
				</tr>
				<tr>
					<td>BLOCK FUEL</td>
					<td>{{docVm.flight.flightInfo.blockFuel}}</td>
				</tr>
				<tr>
					<td>LANDING TIME</td>
					<td>{{docVm.flight.flightInfo.landingTime}}</td>
				</tr>
				<tr>
					<td>TRIP FUEL</td>
					<td>{{docVm.flight.flightInfo.tripFuel}}</td>
				</tr>
				<tr>
					<td>CHOCKS ON</td>
					<td>{{docVm.flight.flightInfo.chocksOn}}</td>
				</tr>
				<tr>
					<td>TAXI FUEL</td>
					<td>{{docVm.flight.flightInfo.taxiFuel}}</td>
				</tr>
				<tr>
					<td>FlIGHT TIME</td>
					<td>{{docVm.flight.flightInfo.flightTime}}</td>
				</tr>
				<tr>
					<td>DOW</td>
					<td>{{docVm.flight.flightInfo.dow}}</td>
				</tr>
				<tr>
					<td>DOI</td>
					<td>{{docVm.flight.flightInfo.doi}}</td>
				</tr>
			</table>
		</md-content>
	</div>
	<md-divider flex></md-divider>
</div>