.flex-container{
	display: flex;
	flex-wrap: wrap;
	position: absolute;
    top: 65px;
    bottom: 0;
    width: 100%;
	flight-tracker, .flight-display-fix{
		margin: 10px;
		min-width: 500px;
		max-width: 49%;
		flex-grow: 1;
	}
}

.no-flight-selected{
    position: relative;
	margin-top: 50px;
	span{
		margin-top: 25px;
    	font-size: 20px;
	}
}

.flight-add-button{
	border-top-right-radius: 2px;
	border-top-left-radius: 2px;
	margin-top: 20px;
    margin-left: 10px;
}