<div id="dashboard" layout-fill>
	<flights-nav-bar selected-flights="dashVm.selectedFlights" opened-flights="dashVm.openedFlights"></flights-nav-bar>
	<md-content class="flex-container" flex>
		<flight-tracker ng-show="flight.opened" flight="flight" opened-flights="dashVm.openedFlights" ng-repeat="flight in dashVm.selectedFlights track by flight._id"></flight-tracker>
		<div class="flight-display-fix" ng-if="dashVm.openFlights().length % 2 !== 0"></div>
	</md-content>
	<div class="no-flight-selected" ng-if="dashVm.selectedFlights.length === 0 || dashVm.openedFlights === 0" layout="column"
	 layout-align="center center">
		<img src="/assets/images/logo.png" alt="Swissport GVOL for CLC" flex>
		<div layout="row" layout-align="space-between center">
			<span translate="DASHBOARD.NOFLIGHTS">No flights selected. To select one, click on </span>
			<img class="flight-add-button md-whiteframe-1dp" ng-if="dashVm.selectedFlights.length === 0" src="/assets/images/add-button.png"
			 alt="Add button">
			<img class="flight-add-button md-whiteframe-1dp" ng-if="dashVm.selectedFlights.length !== 0" src=" /assets/images/select-button.png"
			 alt="Add
			 button ">
		</div>
	</div>
</div>