<!-- CLC content -->
<div id="clc-flight-tracking" clc-required layout-fill>
	<!-- Flights navigation bar, used to add flights as tabs -->
	<flights-nav-bar selected-flights="dashVm.selectedFlights" opened-flights="dashVm.openedFlights"></flights-nav-bar>
	<!-- /Flights navigation bar -->
	
	<!-- Flight tracker components, showes all selected and opened flights -->
	<md-content class="flex-container" flex>
		<flight-tracker ng-show="flight.opened" flight="flight" opened-flights="dashVm.openedFlights" ng-repeat="flight in dashVm.selectedFlights"></flight-tracker>
	</md-content>
	<!-- /Flight tracker components -->
	
	<!-- flight selection helper for users -->
	<div class="no-flight-selected" ng-if="dashVm.selectedFlights.length === 0 || dashVm.openedFlights === 0" layout="column"
	 layout-align="center center">
		<img src="/assets/images/logo.png" alt="Swissport GVOL">
		<div layout="row" layout-align="space-between center">
			<span translate="DASHBOARD.NOFLIGHTS">No flights selected. To select one, click on </span>
			<img class="flight-add-button md-whiteframe-1dp" ng-if="dashVm.selectedFlights.length === 0" src="/assets/images/add-button.png"
			 alt="Add button">
			<img class="flight-add-button md-whiteframe-1dp" ng-if="dashVm.selectedFlights.length !== 0" src=" /assets/images/select-button.png"
			 alt="Add
			 button ">
		</div>
	</div>
	<!-- /flight selection helper -->
</div>
<!-- /CLC content -->

<!-- ADMIN content -->
<div id="admin-dashboard" admin-required>
	<div class="no-flight-selected" layout="column" layout-align="center center">
		<img src="/assets/images/logo.png" alt="Swissport GVOL">
	</div>
</div>
<!-- /ADMIN content -->