<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="sideVm.sideNavLocked">

  <md-toolbar layout="row" layout-align="space-around center" style="overflow:hidden" class="md-whiteframe-1dp">
    <h1 class="md-toolbar-tools">G-Vol Admin</h1>
    <md-icon id="side-nav-pin" md-font-icon="icon-pin" aria-hidden="true" ng-class="{pinned:!sideVm.sideNavLocked}" ng-click="sideVm.toggleLock()"></md-icon>
  </md-toolbar>

  <md-content role="navigation">
    <ss-sidenav flex menu="sideVm.menu"></ss-sidenav>
  </md-content>
</md-sidenav>
