.offload-report-dialog{
	min-width: 80% !important;

	md-toolbar>.md-toolbar-tools{
		background-color: #5d5d5d !important;
		h2{
			text-align: center !important;
		}
		button{
			position: absolute !important;
			top: 10px;
			right: 10px;
		}	
	}


	table {
		font-family: arial, sans-serif;
		border-collapse: collapse;
		width: 100%;
	}

	.passengers-table{
		td{
			width: 20% !important;
			color: rgb(63,81,181);
		}
	}

	.baggage-table{
		td{
			width: 50% !important;
		}

		td:nth-child(odd){
			font-weight: 600;
		}

		td:nth-child(even){
			font-weight: 600;
			color: rgb(63,81,181);
		}
	}

	.baggage-position-table{
		td, th{
			width: 50% !important;
		}

		td:nth-child(odd){
			font-weight: 600;
		}

		td:nth-child(even){
			font-weight: 600;
			color: rgb(63,81,181);
		}
	}

	span{
		font-size: 20px !important;
	}

	td, th {
		border: 1px solid #9c9090;
		text-align: center;
		padding: 8px;
	}
}