<md-nav-bar md-selected-nav-item="tabVm.currentNavItem" nav-bar-aria-label="navigation links" flex>
	<md-nav-item ng-repeat="flight in tabVm.flights track by $index" md-nav-click="tabVm.toggleFlight(flight._id)" ng-class="{'flight-selected': tabVm.selectedFlights[flight._id]}">
		<md-icon md-font-icon="icon-arrow-expand" ng-if="!tabVm.selectedFlights[flight._id]"></md-icon>
		<md-icon md-font-icon="icon-arrow-collapse" ng-if="tabVm.selectedFlights[flight._id]"></md-icon>
		{{ flight.flightNumber }}
	</md-nav-item>
</md-nav-bar>