#checklist-container {
	margin-top: -20px;
	margin-right: 45px;
	font-size: 18px;
}

md-icon[md-font-icon].s32.add-button, i.s32.add-button {
	font-size: 45px !important;
	margin-right: 10px !important;
}
