.flight-tracker-container{
	margin-bottom: 15px;
	>md-toolbar{
		border-top-left-radius: 5px;
    	border-top-right-radius: 5px;
		min-height: 40px !important;
		font-size: 20px !important;
		background-color: #e23e1f !important;
	}

	.flight-init{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(211, 211, 211, 0.32)
	}

	md-content{
		overflow-y: hidden;
	}

	.flight-tracker-content{
		min-height:650px;
		padding-bottom: 20px;
	}

	.flight-number{
		margin-left: 10px;
		md-icon{
			margin-top: -5px !important;
		}
	}

	.time-left{
		font-family: 'digital-clock-font';
    	font-size: 25px;
	}

	flight-messages{
		position: absolute;
		bottom: 0;
		right: 0;
	}

	.flight-team-button{
		margin: 0;
   		margin-bottom: 10px;
	}

	//temp styling
	.flight-progress{
		height: 40px !important;
		width: auto !important;
		margin-left: 30px !important;
		margin-right: 30px !important;
		margin-top: -8px !important;
		.md-container{
			height: 40px !important;
		}
		.md-bar{
			height: 40px !important;
		}
	}

	.close-flight-button{
		margin: 0 !important;
		margin-bottom: 10px !important;
		md-icon{
			margin-top: -5px !important;
		}
	}
}