<div md-whiteframe="3" class="flight-tracker-container">
	<md-toolbar class="md-primary">
		<div layout="row" layout-align="space-between center">
			<span class="flight-number">
				<md-icon md-font-icon="icon-folder-lock" ng-if="ftVm.flight.status === 'done'"></md-icon>
				{{ftVm.flight.flightNumber}}
			</span>
			<span class="time-left">09:37</span>
			<md-button aria-label="reduce" class="md-icon-button" ng-click="ftVm.reducePanel()">
				<md-icon md-font-icon="icon-minus"></md-icon>
			</md-button>
		</div>
	</md-toolbar>
	<md-content style="min-height:650px;padding-bottom: 20px" class="bg-white" id="flight-{{::ftVm.flight._id}}">

		<div ng-if="!ftVm.flight.initilized && ftVm.flight.status === 'new'" class="flight-init" layout="column" layout-align="center center">
			<md-button aria-label="Initilize flight" ng-click="ftVm.initFlight()" class="md-raised md-warn"> Initilize flight </md-button>
		</div>
		<div ng-if="ftVm.flight.initilized || ftVm.flight.status !== 'new'">
			<flight-progress flight="ftVm.flight"></flight-progress>
			<div layout="row" layout-align="space-between" layout-padding>
				<div flex="50" layout="column">
					<div layout="column">
						<md-button aria-label="Flight's team" class="md-raised flight-team-button" ng-click="ftVm.openFlightTeam($event)">
							<md-icon md-font-icon="icon-people"></md-icon>
							Flight's team
						</md-button>
					</div>
					<flight-documents notification="ftVm.flight.notification" flight="ftVm.flight"></flight-documents>
				</div>
				<div layout="column" flex="45">
					<md-button ng-if="ftVm.flight.status !== 'done'" class="md-raised md-warn close-flight-button" ng-click="ftVm.openFlightStatusDialog($event)">
						<md-icon md-font-icon="icon-folder-lock"></md-icon>
						Close flight
					</md-button>
					<md-button ng-if="ftVm.flight.status === 'done'" aria-label="Reopen Flight" ng-click="ftVm.reopenFlight()" class="md-raised md-warn close-flight-button">
						<md-icon md-font-icon="icon-folder-lock-open"></md-icon>
						Reopen Flight
					</md-button>
					<flight-checklist notification="ftVm.flight.notification" flex flight="ftVm.flight"></flight-checklist>
				</div>
			</div>
			<footer>
				<flight-messages notification="ftVm.flight.notification" flight-id="ftVm.flight._id" team="ftVm.flight.team"></flight-messages>
			</footer>
		</div>
	</md-content>
</div>