.login-container {
  background-color: #2c3e50;
  height: 100%;
  .form {
    background: #FFFFFF;
    max-width: 350px;
    min-width: 350px;
    max-height: 400px;
    margin: 0 auto;
    padding: 30px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    font-size: 15px;
  }
  .form .thumbnail {
    width: 180px;
    height: 180px;
    margin: 0 auto 30px;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    box-sizing: border-box;
  }
  .form .thumbnail img {
    display: block;
    width: 100%;
  }
  .form button {
    width: 100%;
    margin: 0;
    padding: 5px;
  }
}
