<div class="checklist-container" layout-padding layout="column">
	<md-checkbox disabled class="md-primary" ng-model="chlVm.documents.baggageReport.status" aria-label="label" ng-class="{'item-checked': chlVm.documents.baggageReport.status}">Baggage report</md-checkbox>

	<md-checkbox disabled class="md-primary" ng-model="chlVm.documents.flightInfo.status" aria-label="label" ng-class="{'item-checked': chlVm.documents.flightInfo.status}">Flight info</md-checkbox>

	<md-checkbox disabled class="md-primary" ng-model="chlVm.documents.offloadList.status" aria-label="label" ng-class="{'item-checked': chlVm.documents.offloadList.status}">Offload List</md-checkbox>


	<md-checkbox disabled class="md-primary" ng-repeat="document in chlVm.documents.otherDocuments track by $index" ng-model="document.status"
	 aria-label="label" ng-class="{'item-checked': document.status}">{{document.title}}</md-checkbox>
</div>