.checklist-container{
	background-color: #EEEEEE;
	padding: 5px 10px !important;
	border-radius: 5px;
	md-checkbox{
		margin: 0 !important;
    	margin-left: 15px !important;
	}

	md-checkbox[disabled] .md-label{
		color : #000;
	}

	.item-checked{
		.md-label{
			color: #4CAF50 !important;
		}
		.md-icon{
			background-color: #4CAF50 !important;
		}
	}

	md-content{
		background-color: transparent;
		max-height: 410px;
		overflow-y: auto
	}
}