<div layout="column" layout-padding class="flight-progress-container">
	<div layout="row" layout-align="space-between end" class="flight-schedule">
		<span>{{fpVm.flight.formattedSta}}</span>
		<span>{{fpVm.flight.formattedStd}}</span>
	</div>
	<div class="meter">
		<span ng-style="{'width': fpVm.calculateProgress()+'%'}"></span>
	</div>
	<div layout="row" layout-align="space-between end" class="plane-icons">
		<img width="40" src="/assets/images/arrival.png" alt="arrival">
		<img width="40" src="/assets/images/departure.png" alt="departure">
	</div>
</div>