.flight-progress-container {
    padding-top: 0 !important;
    margin-bottom: 8px;
    .plane-icons {
        padding-top: 0;
        padding-bottom: 0;
        margin-top: -10px;
        margin-bottom: -15px;
    }
    .flight-schedule {
        font-weight: 600;
    }
    .meter {
        height: 20px;
        /* Can be anything */
        position: relative;
        margin: -5px 30px 5px 30px;
        /* Just for demo spacing */
        background: #555;
        border-radius: 25px;
        padding: 5px;
        box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
    }
    .meter>span {
        display: block;
        height: 100%;
        border-radius: 25px;
        background-color: #149bdf;
        background-image: gradient( linear, left bottom, left top, color-stop(0, #149bdf), color-stop(1, #37a9e3));
        background-image: linear-gradient( center bottom, #149bdf 37%, #37a9e3 69%);
        box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3), inset 0 -2px 6px rgba(0, 0, 0, 0.4);
        position: relative;
        overflow: hidden;
    }
    .meter>span:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-image: gradient(linear, 0 0, 100% 100%, color-stop(.25, rgba(255, 255, 255, .2)), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.75, rgba(255, 255, 255, .2)), color-stop(.75, transparent), to(transparent));
        background-image: linear-gradient( -45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
        z-index: 1;
        background-size: 50px 50px;
        animation: move 2s linear infinite;
        border-radius: 25px;
        overflow: hidden;
    }
    @keyframes move {
        0% {
            background-position: 0 0;
        }
        100% {
            background-position: 50px 50px;
        }
    }
}

.flight-closed {
    .meter>span {
        background-color: #607D8B;
        background-image: gradient( linear, left bottom, left top, color-stop(0, #607D8B), color-stop(1, #90A4AE));
        background-image: linear-gradient( center bottom, #607D8B 37%, #90A4AE 69%);
    }
    .meter>span:after {
        animation: unset !important;
    }
}

.finished-documents {
    margin-top: -18px;
    position: absolute;
    display: -webkit-box;
    >div {
        padding: 0;
    }
    span {
        color: #000;
    }
    .doc-lines {
        height: 23px;
        border: 1px #37a9e3;
        border-style: dashed;
        margin: 5px auto;
    }
    .doc-circular {
        height: 10px;
        width: 10px;
        border: 1px solid white;
        padding: 2px;
        border-radius: 10px;
        div {
            background-color: white;
            width: 10px;
            height: 10px;
            border-radius: 10px;
            margin: auto;
        }
    }
    .doc-title {
        background-color: #444;
        color: #fff;
        width: 20px;
        text-align: center;
        border-radius: 11px;
        padding: 1px;
        margin-top: -2px;
        margin-left: -3px;
        cursor: pointer;
        font-size: 15px;
    }
}