<div layout="column" layout-padding class="flight-progress-container" ng-class="{'flight-closed': fpVm.flight.status === 'done'}">
	<div layout="row" layout-align="space-between end" class="flight-schedule">
		<span>{{fpVm.flight.formattedSta}}</span>
		<span>{{fpVm.flight.formattedStd}}</span>
	</div>
	<div class="meter">
		<span ng-style="{'width': fpVm.progress}"></span>
		<div class="finished-documents">
			<div layout="column" ng-repeat="document in fpVm.documents | orderBy: 'finishedAt' track by document.index" ng-style="{'margin-left': fpVm.documentMargin}"
			 ng-if="document.status">
				<div class="doc-circular">
					<div></div>
				</div>
				<span class="doc-lines"></span>
				<div class="doc-title" ng-click="fpVm.openDialog($event, document.index)">{{ document.index + 1 }}</div>
			</div>
		</div>
	</div>
	<div layout="row" layout-align="space-between end" class="plane-icons">
		<img width="40" src="/assets/images/arrival.png" alt="arrival">
		<img width="40" src="/assets/images/departure.png" alt="departure">
	</div>
</div>