.flight-notification{
	md-icon{
		color: #fff;
	}
	ul{
		font-size: 1em;
		margin-left: 0px !important;
		padding: 0 !important;
		list-style-type: none !important;
		margin-top: 0 !important;
		li{
			margin-bottom: 10px;
			padding: 0 10px;
			padding-bottom: 10px;
		}
	}

	li:hover, li:focus{
		background-color: rgba(255, 255, 255, 0.08) !important;
		outline:0;
	}

	.notifications{
		padding-left: 45px;
	}

	.md-toast-content{
		max-height: max-content;
		padding: 0;
	}

	.toast-notification-list{
		margin-left: 20px;
		margin-bottom: 5px;
	}

	.md-toast-text{
		color: rgb(255,82,82);
		font-size: 1.3em; 
	}

	.mark-as-read{
		font-size: 1em !important;
		color: #FFC107 !important;
		md-icon{
    		margin-right: -10px;
			font-size: 1em !important;
			color: #FFC107 !important;
		}
	}
}