<div class="top-bg"></div>

<!-- CONTENT HEADER -->
<div class="header" layout="row" layout-align="space-between center">
	<div class="font-white" layout="column" layout-align="start start">
		<div class="h1" layout="row" layout-align="start center">
			<md-icon md-font-icon="icon-airplane" class="font-white"></md-icon>
			<span translate="FLIGHT.LABEL" class="s32">Flights</span>
		</div>
		<div class="elements-count secondary-text">
			<span translate="FLIGHT.TOTAL">Total Flights:</span>
			<span>{{flbVm.flights.length}}</span>
		</div>
	</div>
	<md-input-container class="md-block search">
		<label class="font-white" translate="SEARCH">Search</label>
		<md-icon md-font-icon="icon-magnify" class="font-white icon search-icon"></md-icon>
		<input type="search" class="search-input" name="search" ng-model="flbVm.queryString" ng-change="flbVm.searchFlights()" ng-model-options="{ debounce: 200 }">
	</md-input-container>
	<div layout="column" layout-align="center">
		<md-button ngf-select="flbVm.parseCSV($file)" aria-label="button-label" class="md-default md-raised">
			<md-icon md-font-icon="icon-upload"></md-icon>
			<span translate="FLIGHT.IMPORT">Import CSV file</span>
		</md-button>
		<md-button ng-if="flbVm.flights.length > 0" ng-click="flbVm.submitAll()" aria-label="button-label" class="md-warn md-raised">
			<md-icon md-font-icon="icon-content-save-all"></md-icon>
			<span translate="FLIGHT.SAVEALL">Save all flights</span>
		</md-button>
	</div>
</div>
<!-- / CONTENT HEADER -->
<div class="md-whiteframe-3dp bg-white page-content">
	<md-table-container>
		<table md-table md-progress="flbVm.promise">
			<thead md-head>
				<tr md-row>
					<th md-column><span translate="FLIGHT.NUMBER">Flight Number</span></th>
					<th md-column><span translate="FLIGHT.ARRIVAL">Arrival Date</span></th>
					<th md-column><span translate="FLIGHT.DEPARTURE">Departure Date</span></th>
					<th md-column>AC Type</th>
					<th md-column>STA</th>
					<th md-column>STD</th>
					<th md-column>Configuration</th>
					<th md-column>Registration</th>
					<th md-column>Destination</th>
					<th md-column><span translate="FLIGHT.COMPANY">Company</span></th>
					<th></th>
				</tr>
			</thead>
			<tbody md-body>
				<tr md-row ng-repeat="flight in flbVm.flights | filter:flbVm.queryString | limitTo: flbVm.query.limit : (flbVm.query.page - 1) * flbVm.query.limit track by $index">
					<td md-cell class="uppercase">{{flight.flightNumber}}</td>
					<td md-cell>{{flight.arrivalDate | date:'dd/MM/yyyy'}}</td>
					<td md-cell>{{flight.departureDate | date:'dd/MM/yyyy'}}</td>
					<td md-cell>{{flight.acType}}</td>
					<td md-cell>{{flight.sta}}</td>
					<td md-cell>{{flight.std}}</td>
					<td md-cell class="uppercase ">{{flight.configuration}}</td>
					<td md-cell class="uppercase ">{{flight.registration}}</td>
					<td md-cell class="uppercase ">{{flight.dest}}</td>
					<td md-cell class="uppercase ">{{flight.company}}</td>
					<td md-cell class="align-left ">
						<md-button class="md-icon-button md-warn " aria-label="Settings " ng-click="flbVm.deleteFlight($event, flight) ">
							<md-tooltip md-direction="bottom "><span translate="DELETE ">Delete</span></md-tooltip>
							<md-icon md-font-icon="icon-delete " class="icon s32 "></md-icon>
						</md-button>
						<md-button class="md-icon-button " aria-label="Settings " ng-click="flbVm.editFlight($event, flight) ">
							<md-tooltip md-direction="bottom "><span translate="EDIT ">Edit</span></md-tooltip>
							<md-icon md-font-icon="icon-pencil " class="icon s32 "></md-icon>
						</md-button>
					</td>
				</tr>
			</tbody>
		</table>
	</md-table-container>

	<md-data-pagination query="flbVm.query " list-length="flbVm.flights.length "></md-data-pagination>
</div>